@import "src/app/styles/mixins.scss";

.intro {
  margin-top: toRem(147);

  background-color: var(--bg-color-main);

  h1 {
    text-transform: uppercase;
    color: var(--color-text-secondary);
    text-align: center;

    @include adaptiveValue(padding-bottom, 90, 50);
    @include adaptiveValue(padding-top, 90, 50);
    @include adaptiveValue(font-size, 64, 38);
  }
}
