@import "src/app/styles/mixins.scss";

.swiper,
.swiper-wrapper {
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 3.25rem;
  height: 3.25rem;

  background-image: url("../../../public/images/icons/arrow-icon.svg");
  &::after {
    display: none;
  }
}

.swiper-button-prev {
  transform: rotate(180deg);
  left: 30px;
}

.swiper-button-next {
  right: 30px;
}

@media (width <= 544.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
