@import "src/app/styles/index.scss";
@import "src/app/styles/mixins.scss";

.addReview {
  background-color: var(--bg-color-add-review);

  @include adaptiveValue(padding-top, 50, 20);
  @include adaptiveValue(padding-bottom, 50, 20);

  &_container {
    max-width: $containerWidth + px;
    padding: 0 $containerPadding + px;
    margin: 0 auto;
  }

  &_title {
    text-align: center;
    @include adaptiveValue(font-size, 48, 32);
  }

  &_subtitle {
    font-size: 1.25rem;
    opacity: 60%;
    text-align: center;
  }

  &_actions {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(114);

    margin-top: toRem(45);
    &-info {
      h4 {
        @include adaptiveValue(font-size, 36, 24);
      }

      p {
        opacity: 60%;
        margin-bottom: 1.25rem;

        @include adaptiveValue(font-size, 24, 16);
      }
    }
  }

  @media (width <= 767.98px) {
    &_actions {
      flex-direction: column;
      row-gap: 1.75rem;

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
