@import "src/app/styles/mixins.scss";

.review {
  background-color: var(--bg-color-review);

  border-radius: toRem(50);

  @include adaptiveValue(padding-right, 40, 30);
  @include adaptiveValue(padding-left, 40, 30);

  @include adaptiveValue(padding-top, 30, 20);
  @include adaptiveValue(padding-bottom, 30, 20);

  &_name {
    margin-bottom: 0.5rem;
    @include adaptiveValue(font-size, 24, 16);
  }

  &_description {
    line-height: 1.2;
    @include adaptiveValue(font-size, 18, 13);
  }
}
